* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.searchContainer i {
  pointer-events: none;
  color: #aaa;
}

.img-receta {
  height: 200px;   
  object-fit: cover;   
  width: 100%;      
}

.card {
  max-width: 320px;
  border: 1 solid transparent;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid #aaa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}